@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/profile.css');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* header Start  */
.menu-list {
    position: absolute;
    top: 69px;
    left: 38%;
    display: none;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-list li {
    margin-bottom: 20px;
}

.menu-list a {
    color: var(--text-color);
    padding: 10px 20px;
    transition: background 0.3s;
}

.menu-list a:hover {
    color: var(--bg-color);
    background: var(--green-color);
    border-radius: 5rem;
}


:root {
    --green-color: #007f5f;
    --light-green-color: rgb(235, 247, 237);
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
    --body-color: #fff;
    --container-color: rgba(0, 0, 0, 0.5);
    --footer-color: #fef4ea;
    --title-color: #000;
}

header {
    position: fixed;
    border-radius: 0.5rem;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 25%);
    padding: 20px 100px;
    transition: 0.5s;
}


.profile a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.profile a:hover {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

.navbar.active {
    top: 100%;
}

.logo-header {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo-header .bx {
    font-size: 24px;
    color: var(--orange-color);
}

.logo-header img {
    width: 40px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.Dark-mode {
    font-weight: 500;
    color: var(--text-color);
    padding: 0.3rem 0.5rem;
    /* Adjust padding to make it smaller */
    margin-top: -10px;
    /* Add margin to make it higher */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
    /* Adjust font size to make it smaller */
}


.navbar a:hover {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

.navbar .categories-active {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* Heeder End */
.searchbar input {
    padding-right: 30px;
    /* Take up remaining space */
}

.searchbar i {
    position: absolute;
    right: 300px;
    margin-top: -6px;
}

.searchbar {
    width: 70%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: -110px;
    border: 1px solid #000000;
}

input {
    border: none;
    outline: none;
    background: none;
}

.gg-search:hover {
    color: orangered;
    cursor: pointer;
}

/* Cart Start */
#cart {
    background-color: var(--body-color); 
}

#cart .title {
    text-align: center;
    padding-top: 130px;
    margin-bottom: 100px;
    color: var(--title-color); 
}



.cart-products {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 10px; 
    flex-wrap: wrap;
}


.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9efdfbb; 
    height: 200px;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.cart-product:hover {
box-shadow:0 0 10px 3px #bdbdbd;
}

.cart-product img {
    height: 100px;
    width: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.cart-product h3,
.cart-product p {
    color: #333; 
}

.cart-product .price,
#total .price {
    color: #007f5f; 
    font-weight: bold;
}

.cart-product .number {
    width: 35px;
    margin-left: 20px;
}

#total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: var(--body-color); 
    border-radius: 10px;
}

#total-price {
    color: var(--title-color); 
    font-weight: bold;
}

#checkout-btn {
    background-color: #28a745; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #1c742f; 
}
/* Cart End */
/* Footer Start */
.end-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--footer-color);
    border-radius: 0.5rem;
    padding: 20px;
    margin-top: auto;
}

.follow-us {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-bottom: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}

.pay {
    width: 230px;
}

.social {
    display: flex;
    align-items: center;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    padding: 10px;
    background: var(--bg-color);
    color: var(--green-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover {
    background: var(--green-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.footer-box a {
    color: #868a92;
    margin-bottom: 1rem;
}

.footer-box a:hover {
    color: var(--light-orange-color);
}

.footer-box form {
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 300px;
}

.footer-box form input {
    background: transparent;
    border: none;
    outline: none;
    width: 240px;
}

.footer-box form .bx {
    font-size: 20px;
    color: var(--light-orange-color);
    cursor: pointer;
}

.footer-box form .bxs-envelope {
    color: var(--green-color);
}

.copyright {
    text-align: center;
    padding: 20px;
}

/*making responsive*/
@media (max-width:1080px) {
    header {
        padding: 18px 60px;
    }

    .home-text {
        padding: 0 100px;
    }
}

@media (max-width:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text h1 {
        font-size: 2rem;
    }
}


@media (max-width:852px) {
    header {
        padding: 12px 4%;
    }

    .menu-list {
        top: 230px;
        left: 38%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }

    .navbar a {
        padding: 1rem;
        margin: 1rem;
        display: block;
    }

    .navbar a:hover,
    .navbar .categories-active {
        border-radius: 0.5rem;
        color: var(--bg-color);
    }

    .navbar.active {
        top: 100%;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }
}

/* Footer End */